.scrollContainer {
  max-width: 1366px;
  margin: 0 auto;
  border: 5px solid red;
  height: 100vh;
  text-align: center;
}

.openingText {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: 'Libre Franklin', sans-serif;
  /* margin: auto; */
  text-align: left;
  max-width: 44rem;
  z-index: 1;
  animation: intro 6s ease-out 1s;
  color: rgb(75, 213, 238);
  font-weight: 400;
  font-size: 300%;
  opacity: 0;
}

@keyframes intro {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.logo {    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: auto;
  animation: logo 9s ease-out 9s;
  opacity: 0;
}

.logo img {
  width: inherit;
}

/* Scale the logo down and maintain it centered */
@keyframes logo {
  0% {
      width: 18em;        
      transform: scale(2.75);
      opacity: 1;
  }
  50% {
      opacity: 1;
      width: 18em;      
  }
  100% {
      opacity: 0;
      transform: scale(0.1);
      width: 18em;        
  }
}