.App {
  /* background-color: #303030; */
  /* height: 100vh; */
}

.background-style {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  background-color: #151515;
}

.starfield-left {
  position: absolute;
  width: 400px;
  height: 100%;
  top: 0;
  background-repeat: repeat-y;
  left: 0;
  background-position: left center;
  background-size: 100% auto;
  background-image: url(https://static-mh.content.disney.io/starwars/assets/background/bg_starsL-fd4661a3ccea.jpg);
}

.starfield-right {
  position: absolute;
  width: 400px;
  height: 100%;
  top: 0;
  background-repeat: repeat-y;
  right: 0;
  background-position: right center;
  background-size: auto 100%;
  background-image: url(https://static-mh.content.disney.io/starwars/assets/background/bg_starsR-655c85e404d4.jpg);
}