$scroll-text: hsl(60, 100%, 75%);

article {
  background-color: #221f20;
  border: 1px solid #56C0D4;
  color: #56C0D4;
  font-weight: 200;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin: 10px;
  font-size: 1em;
}

h3 {
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
}

.favorite-btn {
  border-radius: 12px;
  background-color: #221f20;
}

.planetCard {
  overflow: scroll;
}

span {
  color: $scroll-text;
}